*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
  }
  .homebg{
    background-repeat:no-repeat;
    background-size: 1520px;
  }
  .home{
    color: white;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 7rem;
    font-family:sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}
nav{
    background-color: white;
    font-size:20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    display: inline-block;
    margin: 0 8px;
}
nav a{
    text-decoration: none;
}
nav a:hover {
    color: orangered;
  }
.logo{
   padding-right: 50%;

}
.menu{
    cursor: pointer;
    display: none;
}
.menu-line{
    height: 3px;
    width: 20px;
    background-color:goldenrod;
    margin-bottom: 3px;
}
.showmenu{
    display: block;
}
html,
body {
  scroll-behavior: smooth;
}
.box{
   
   border-color:red;
    border-width:2px;
    border-style: solid;
    display: inline-block;
    width: 310px;
    height: 180px;
    text-align: center;
}
.djvideos{
    margin-top: 33%;
    text-align: center;
}
.box1{
   
    border-color:blue;
     border-width:3px;
     border-style: solid;
     display: inline-block;
     width: 350px;
     height: 350px;
     text-align: center;
     
 }
 .box1 a{
    text-decoration: none;
 }
 .images{
    text-align: center;
    padding: 20%;
}
.setup{
    text-align: center;
}
.box2{
   
    border-color:blue;
     border-width:3px;
     border-style: solid;
     display: inline-block;
     width:400px;
     height: 350px;
     transition: 400ms;
     cursor: pointer;
}
div .box2:hover{
   filter: grayscale(1);
   transform: scale(1.03);
  
}
.reg{
    text-align: center;
    background-color: aquamarine;
    border-style:groove;
    border-color: #444;
}
.booking{
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color:cornsilk;
    border: 1px solid grey;
}
.subres{

    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    hover {
        background-color: #444;
    }
}
.table,tr,td{
   
    padding: 10px;
}

.points{
background-color: white;
width: auto;
padding: 0%;
margin-top: 0%;
}
.heading{
   padding-right:1210px;
   padding-left: 50px;
    color: red;
}
    
.points1{
       padding: 25px;
       padding-left: 25%;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       background-color: white;
       font-size: larger;
   }
.dj{
    background-color: black;
    font-family:sans-serif;
    padding-left:20px;
    text-align: justify ;
    color: white;
    margin-top:2%;
    width: 100%;
}
.dj h2{
    text-align: center;
}
.contact{
    background-color:rgba(247, 212, 217, 0.911);
    color: red;
    font-size: 25px;
     text-align: center; 
     margin: 0px;
    padding: 20px;
}
.contact h3{
    color: darkorchid;
}
.contact a{
    text-decoration: none;
    color: red;
}
.rating{
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    border-style: solid;
    border-color: silver;
    border-radius: .75rem;
    text-align: center;
    margin-left: 30%;
    color:red;
    margin-top: 3%;
}
.wrapper{
    width: 400px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-left: 50px;
}
.wrapper .input-box{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-box input{
    height: 100%;
    width: 100%;
    border-style: none;
    border-color: greenyellow;
    border-bottom: 2px solid greenyellow;
    font-size: 17px;
   
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-30px);
    font-size: 15px;
}
.wrapper .input-box label{
    position: absolute;
    bottom: 10px;
    right: 0%;
    color: gray;
    pointer-events: none;
    margin-right: 70%;
    transition: all 0.3s ease;
}
.wrapper .input-box label .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.rating header{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.rating .Stars{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color:grey;
}
.Stars span{
    cursor: pointer;
    font-size: 30px;
    transition: color 0.2s ease;
}
.Stars span.active{
    color: lightgreen;
}
textarea{
    width: 100%;
    background:white;
    padding: 1rem;
    margin-top: 5%;
    resize: none;
   
}
.btn-submit{
    margin-left: 2%;
    margin-top: 5%;
    width: 140px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    hover {
        background-color: #444;
    }
}
.djhome{
    color: white;
    font-size: 3rem;
    padding: 10%;
    font-weight: 800;
    font-family:sans-serif;
    -webkit-text-stroke: 4px black;
}
.himg{
    padding-left: 37%;
    margin-top: 20%;
}
.roki{
    text-align: center;
    margin-top: 30px;
}
.choose-us{
    text-align: justify;
    color:darkblue;
    width: 100%;
    margin-top: 2%;
    padding-left: 20px;
}
.about2{
    margin-top: 20px;
    padding: 40px;
    margin-left: 40px;
    
}
.ab{
    background-color:pink;
    width: 270px;
    height: 800px;
    text-align: justify;
    margin-left: 40%;
    margin-top: 5%;
    padding-top: 10px;
}
.txt{
    width: 200px;
    text-align: justify;
    margin-left: 10%;
}
.img1{
    border-color:blue;
    border-width:3px;
    border-style: solid;
    display: inline-block;
    width:350px;
    height: 350px;
    cursor: pointer;
}
.ab1{
    background-color:mediumblue;
    color: white;
    text-align: justify;
     width: 400px;
     margin-left: 35%;
     margin-top: 10%;
}
.imgs{
    margin-top: 40px;
    margin-left: 15%;
}
.ad1{
    background-color:pink;
    width: 270px;
    height: 800px;
    margin-left: 40%;
    margin-top: 5%;
}
.imgs2{
    border-color:orange;
    border-width:3px;
    border-style: solid;
    display:inline-block;
    width: 400px;
    height: 350px;
}
div .imgs2:hover{
    transform: scale(1.03);
}
.imgpg{
    padding: 100px;
    margin-left: 50px;
    margin-top: 20px;
}
.copyrights{
    background-color:orchid;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 50px;
    margin-top: 10px;
}
@media screen and (max-width:600px) {
    .homebg{
        overflow-x: hidden;
    }
nav{
    flex-direction: column;
}
nav li{
    display: block;
    padding: 10px 0;
}
ul{
    text-align: center;
    padding: 0px;
    display:none;
}
.logo{
    align-self:flex-start;
    margin: 10px 0px 0px;
}
.menu{
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
}
.home{
    margin-bottom: 1rem;
    font-size:large;
   line-height: 4rem;
}
.hdj{
    padding: 20px;
}
.images{
    padding-left: 70px;
}
.box1{
    margin-top: 20px;
}
.rating{
    margin-left: 22px;
    max-width: 500px;
}
.wrapper{
    margin-left: 20px;
}
.himg{
    padding: 60px;
    margin-top: 50px;   
}
.homebg{
    background-size: 950px;
}
.djhome{
    padding-left: 3px;
}
.ab{
   margin-left: 80px;
}
.ab1{
    padding-left: 20px;
    margin-left: 55px;
}
.ad1{
   margin-left: 180px;
}
.imgpg{
    padding-left: 500px;
}
}
@media screen and (max-width:800px) {
    .homebg{
        overflow-x: hidden;
    }
    nav{
        flex-direction:column;
    }
    nav li{
        display: block;
        padding: 10px 0;
    }
    ul{
        text-align: center;
        padding: 0px;
        display:none;
    }
    .logo{
        align-self:flex-start;
        margin: 10px 0px 0px;
    }
    .menu{
        display: block;
        position: absolute;
        right: 50px;
        top: 25px;
    }
    .home{
        margin-bottom: 1rem;
        font-size:large;
        line-height: 3rem;
    }
    .box1{
        margin-top: 50px;
        display: block;
        margin-left: 50px;  
    }
    .dj p{
        padding-right: 40px;
        text-align: justify;
    }
    .rating{
        margin-left: 20%;
        max-width: 400px;
    }
    .wrapper{
        margin-left: 0px;
        width: 350px;
    }
    .himg{
        padding: 60px;
        margin-top: 50px;
        margin-left: 0px;
        padding-left: 150px;   
    }
    .homebg{
        background-size: 950px;
    }
    .djhome{
        padding-left: 3px;
    }
    .ab{
       margin-left: 150px;
    }
    .imgs{
        margin-left: 90px;
    }
    .ab1{
        padding-left: 20px;
        margin-left: 80px;
    }
    .ad1{
       margin-left: 200px;
    }
    .imgpg{
        padding-left: 10px;
    }
    }
 